<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net462" />
  <package id="Fake.Core.String" version="5.23.0" targetFramework="net462" requireReinstallation="true" />
  <package id="Fake.IO.FileSystem" version="5.23.0" targetFramework="net462" requireReinstallation="true" />
  <package id="FakeItEasy" version="6.0.0" targetFramework="net462" />
  <package id="FakeXrmEasy.9" version="1.58.1" targetFramework="net462" />
  <package id="FSharp.Core" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.0.7" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.0.5" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.0.5" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.0.5" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net462" />
  <package id="OpenCover" version="4.7.1221" targetFramework="net471" />
  <package id="ReportGenerator" version="5.1.9" targetFramework="net471" />
</packages>